{
  "MU": "mqttuser",
  "MPW": "mqttpassword",
  "TPW": "secret",
  "TP": "4000",
  "OWS": "192.168.0.10",
  "OWP": "80",
  "OWU": "otauser",
  "OWPW": "otapassword",
  "OWPG": "/ota.htm",
  "WPW": "wifipassword",
  "WS": "wifissid",
  "MS": "192.168.0.10",
  "MP": "1883",
  "AC": "1234",
  "GE": "1",
  "SWOAC": "1",
  "GM": ["123456789","234567890","345678901"],
  "GPA": "0",
  "GPS": "0"  
}
