{
  "MQTT_USER": "mqttuser",
  "MQTT_PASSWORD": "mqttpassword",
  "TCP_PASSWORD": "secret",
  "TCP_PORT": "4000",
  "OTA_WEB_SERVER": "192.168.0.10",
  "OTA_WEB_PORT": "80",
  "OTA_WEB_USER": "otauser",
  "OTA_WEB_PASSWORD": "otapassword",
  "OTA_WEB_PAGE": "/ota.htm",
  "WIFI_PASSWORD": "wifipassword",
  "WIFI_SSID": "wifissid",
  "MQTT_SERVER": "192.168.0.10",
  "MQTT_PORT": "1883",
  "ACCESS_CODE": "1234"
  "GSM_ENABLE": "1"
}
