const PROGMEM char*  MQTT_SERVER ="192.168.0.10";
#define MQTT_PORT 1883
const PROGMEM char*  MQTT_USER ="mqttuser";
const PROGMEM char*  MQTT_PASSWORD ="mqttpassword";
const PROGMEM char*  OTA_WEB_SERVER ="192.168.0.10";
#define OTA_WEB_PORT 80
//const PROGMEM char*  OTA_WEB_USER ="otauser";
//const PROGMEM char*  OTA_WEB_PASSWORD ="otapassword";
const PROGMEM char*  OTA_WEB_PAGE ="/ota.htm";
const PROGMEM char*  TCP_PASSWORD ="secret";
#define TCP_PORT 4000
#define GSM_ENABLE 1
const PROGMEM char*  ACCESS_CODE = "1234";
const PROGMEM char*  WIFI_PASSWORD= "wifipassword";
const PROGMEM char*  WIFI_SSID ="wifissid";
